#form {
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
}

#username {
    width: 60vw;
    height: 5vw;
}

#password {
    height: 5vw;
    width: 60vw;
}

#btn {
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 12px;
}

em {
    font-size: 12px;
}